<section>
<article>
<h5>&#128187; Positioning NoTrack Device</h5>
<p>In order to prevent any delay with Internet browsing, DNS queries need to be handled as quick as possible, therefore it essential that NoTrack has the shortest route out of your network to a main DNS server. The best place to position your NoTrack device is connected to a wired network port on your broadband router / hub. </p>

<img class="full" src="../svg/help-position.svg" alt="">
<p>Utilising a Raspberry Pi is just a suggestion, you can use an alternate lightweight ARM device, Virtual system, or a Server.</p>
</article>
</section>
