<section>
<h5>&#128272; Security</h5>
<article>
<h6>What Username should I use?</h6>
<p>You can have any choice of username, it doesn&rsquo;t have to be related to your system logon name.<br>
<i><span class="blue">Tip:</span> Try to avoid easily guessed usernames like Admin, Administrator, System or Root.</i></p>

<h6>What can I do if I forget the password?</h6>
<p>You can remove the password by manually by editing front.php config file and removing the username and password.<br>
Delete the lines starting <code>$config->username</code> and <code>$config->password</code></p>
<pre>$ nano /var/www/html/admin/settings/front.php</pre><br>

<h6>Can I use with Fail2ban?</h6>
<p>Yes, NoTrack writes a log of failed password attempts into <code>/var/log/nginx/error.log</code></p>

<h6>Brute-Force Attacks</h6>
<p>NoTrack will try to prevent <a href="https://wikipedia.org/wiki/Brute-force_attack">brute-force</a> password attacks by exponentially increasing the delay between allowable access attempts from an IP address or against a specific username.</p>

<h6>Can I have more than one account?</h6>
<p>Unfortunately, a lot of additional coding is required in order to support multiple accounts, and it&rsquo;s not a feature which I&rsquo;m prepared to add at this point.</p>
</article>
</section>
