@charset "utf-8";
/* ==========================================================================
   Alert notifications for upgrade
   ========================================================================== */
.alertupgrade {
  display: block;
  width: 28rem;
  max-width: 90%;
  margin: 4rem auto 0;
  padding: 0.5rem;
  background-color: rgba(0, 193, 119, 0.8);
  border: 2px solid #01ff9e;
  border-radius: 4px;
  font-size: 1.05rem;
  text-align: center;
}
.alertupgrade a {
  text-decoration: underline;
}


/* ==========================================================================
   CSS for index providing home-nav
   ========================================================================== */
.home-nav-container {
  display: flex;
  margin: 1.5rem auto 1.2rem;
  padding: 1rem;
  /*background-color: #d2d2d2;
  border: 1px solid #bdbdbd;
  border-radius: 2px;*/
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  text-align: center;
  width: 95%;
}
.home-nav-container > a,
.home-nav-container > div {
  display: block;
  background-color: #f7f7f7;
  border-left: 7px solid #00b7ba;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  flex-basis: 18%;
  height: 9rem;
  min-width: 14rem;
  max-width: 17rem;
}
.home-nav-container h2 {
  margin: 0.1rem 0;
  font-size: 1.2rem;
  font-weight: lighter;
}
.home-nav-container h3 {
  margin: 1.4rem 0;
  font-size: 2.8rem;
  font-weight: normal;
}


@media only screen and (max-width:480px), only screen and (max-device-width:480px) {  /*Mobile view for Home Nav*/
  .home-nav-container {
    padding: 0.2rem 0 0;
  }
  .home-nav-container > a,
  .home-nav-container > div {
    height: 8rem;
    flex-basis: 44%;
    min-width: 10rem;
    max-width: 14rem;
  }
  .home-nav-container > a:last-child {   /*Hide Network box on mobile*/
    display: none;
  }
  .home-nav-container h2 {
    font-size: 1.1rem;
    font-weight: normal;
  }
  .home-nav-container h3 {
    font-size: 1.8rem;
  }
}

.home-bgred {
  background-color: rgba(147, 30, 63, 0.9) !important;
}
.home-bgyellow {
  background-color: rgba(250, 218, 110, 0.9) !important;
}
