@charset "utf-8";
/*Colours:                   *
 * Dark Font: #00000a        *
 * Light Font #f7f7f7        *
 * Dark background: #262626  *
 * Light background: #f7f7f7 *
 * Primary: #00c2c8          *
 * Primary Dark: #00b7ba     *
 * Inverse: #b1244a          *
 * Divider: #bdbdbd          *
 * Input Background: #fafafa *
 * Input Border: #777        *
 * Hover: brightness 90%     */
body {
  min-height: 92vh;                              /*Fix for mobiles*/
  margin: 0;
  padding: 0;
  font-size: 85%;
  font-family: Arial, Helvetica, sans-serif;
  color: #00000a;
  background: url("../svg/background_circles.svg") no-repeat center center fixed;
  background-color: #038890;
  background-size: cover;
}
*:active,                                        /*Prevent black border in Chrome*/
*:focus {
  outline: none;
}
a {
  color: #00000a;
  text-decoration: none;
}
code {
  background: lightgrey;
  padding: 0.1rem 0.2rem;
}
img {
  border: none;
  max-width: 100%;
}
fieldset {
  border-style: none;
  margin: 0.5rem 0;
  padding: 0.2rem;
}
legend {
  color: #202020;
  font-size: 0.9rem;
}
p {
  font-size: 0.9rem;
  /*margin: 0 0 0.8rem 0;*/
  margin: 0.4rem 0 1.2rem;
}
p a {
  color: #00b7ba;
}
p a:focus,
p a:hover {
  text-decoration: underline;
}
/*p.small { DEPRECATED
  margin: 0.1em 0.5em 0em 1em;
  font-size: 0.7rem;
}*/
ol,
ul {
  margin: 0;
}
h2 {
  font-size: 1.2rem;
  font-weight: normal;
}
h4 {                                             /*Font for Error*/
  font-size: 2.2rem;
  font-weight: normal;
  text-align: center;
  color: #444;
}
h4 img { /*DEPRECATED when removed from error messsages*/
  width: 3rem;
  margin: 1rem 1rem 0 0;
}
h5 {
  margin: 0 0.5em 0.5em 0;
  padding: 0.2em 0.5em;
  font-size: 1.5em;
  font-weight: 400;
  text-align: left;
  border-bottom: 2px solid #00b7ba;
}
h6 {
  margin: 0.3rem 0.1rem 0.1rem;
  font-size: 1.3em;
  font-weight: 500;
  color: #444;
}
pre {
  width: 90%;
  margin: 0.5rem auto 1rem;
  padding: 0.5rem;
  background-color: #f7f7f7;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  white-space: pre-wrap;
  overflow-y: auto;
}
@media only screen and (max-width:576px) {
  pre {width: 96%}
}
section {
  display: block;
  background-color: #f7f7f7;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 1rem auto;
  padding: 0.5rem 0.5rem 0.7rem;
  width: 90%;
}
section pre {
  box-shadow: none;
  background-color: lightgrey;
}
@media only screen and (max-width:576px) {
  section {width: 96%;}
}

/* ==========================================================================
   Content Editable
   ========================================================================== */
[contenteditable="true"] {
  border: 2px solid #fbfbfb;
  border-radius: 4px;
  padding: 0.1rem;
  font-variant-numeric: tabular-nums;
}
[contenteditable="true"]:hover {
  border-color: #777;
}
[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  background: white;
  border-color: #00c2c8;
}
[contenteditable="true"]:empty::before {
  color: grey;
  content: attr(placeholder);
}

/* ==========================================================================
   Form Items
   ========================================================================== */
input[type="datetime-local"],
input[type="number"],
input[type="text"],
input[type="password"] {
  width: 98%;
  max-width: 24rem;
  height: 1.5rem;
  margin: 0.2rem 0 0.1rem;
  padding-left: 0.2rem;
  background-color: #fafafa;
  border: 2px solid #777;
  border-radius: 4px;
  font-size: 0.9rem;
}
select {
  width: 98%;
  max-width: 24.6rem;
  height: 1.9rem;
  margin: 0.2rem 0rem;
  padding-left: 0.2rem;
  background-color: #fafafa;
  border: 2px solid #777;
  border-radius: 4px;
  font-size: 0.9rem;
}
textarea {
  width: 96%;
  max-width: 26.4rem;
  padding-left: 0.2em;
  color: #00000a;
  background-color: #fafafa;
  border: 2px solid #777;
  border-radius: 4px;
  font-size: 0.9rem;
}
button,
input[type="submit"] {
  padding: 0.4rem 1.25rem;
  text-align: center;
  color: #00000a;
  border: 1px solid #777;
  border-radius: 4px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
  display: inline-block;
  background-color: #00c2c8;
  cursor: pointer;
}

button:hover,
button:focus,
select:focus,
select:hover,
textarea:focus,
textarea:hover,
input[type]:focus,
input[type]:hover {
  border-color: #00c2c8;
}
button:hover,
button:focus,
input[type="submit"]:focus,
input[type="submit"]:hover {
  filter: brightness(90%);
}
button:active,
input[type="submit"]:active {
  transform: translateY(2px);
  border-color: #00c2c8;
  filter: brightness(90%);
}

.button-danger {
  background-color: #b1244a !important;
}
.button-grey {
  background-color: #c8c8c8 !important;
}
/*.button-yellow {
  background-color: #ffe808 !important;
}*/
.centered {
  text-align:center;
}

/* ==========================================================================
   Filter Toolbar
   Filter Toolbar uses a grid box with column sizes specified by a class
    relevant for each page.
   ========================================================================== */
.filter-toolbar {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 0.2rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.8rem;
  background-color: #d2d2d2;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
}
.filter-toolbar h3 {
  margin: 0;
  padding: 0 0.3rem;
  color: #666;
}
.filter-toolbar input[type="text"] {
  max-width: 98%;
}
.analytics-filter-toolbar {
  grid-template-columns: fit-content(13.6rem) fit-content(11rem)
}
@media only screen and (max-width:1198.98px) {
  .domains-filter-toolbar {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width:1200px) {
  .domains-filter-toolbar {
    grid-template-columns: repeat(2, 24rem);
  }
}
@media only screen and (max-width:767.98px) {
  .live-filter-toolbar {
    grid-template-columns: 1fr fit-content(11rem)
  }
  .live-filter-toolbar > div:nth-child(1) {grid-area: 1 / 1;}
  .live-filter-toolbar > div:nth-child(2) {grid-area: 3 / 1;}
  .live-filter-toolbar > div:nth-child(3) {grid-area: 3 / 2;}
  .live-filter-toolbar > div:nth-child(4) {grid-area: 1 / 2;}
  .live-filter-toolbar > div:nth-child(5) {grid-area: 2 / 1;}
  .live-filter-toolbar > div:nth-child(6) {grid-area: 4 / 1;}
  .live-filter-toolbar > div:nth-child(7) {grid-area: 4 / 2;}
  .live-filter-toolbar > div:nth-child(8) {grid-area: 2 / 2;}

  .queries-filter-toolbar {
    grid-template-columns: 2fr 1fr fit-content(6rem);
  }
  .queries-filter-toolbar > div:nth-child(1) {grid-area: 1 / 1;}
  .queries-filter-toolbar > div:nth-child(2) {grid-area: 3 / 1;}
  .queries-filter-toolbar > div:nth-child(3) {grid-area: 1 / 2;}
  .queries-filter-toolbar > div:nth-child(4) {grid-area: 3 / 2;}
  .queries-filter-toolbar > div:nth-child(5) {grid-area: 1 / 3;}
  .queries-filter-toolbar > div:nth-child(6) {grid-area: 2 / 1;}
  .queries-filter-toolbar > div:nth-child(7) {grid-area: 4 / 1;}
  .queries-filter-toolbar > div:nth-child(8) {grid-area: 2 / 2;}
  .queries-filter-toolbar > div:nth-child(9) {grid-area: 4 / 2 / auto / span 2}
  .queries-filter-toolbar > div:nth-child(10) {grid-area: 2 / 3;}
}
@media only screen and (min-width:768px) and (max-width: 1199.98px) {
  .live-filter-toolbar {
    grid-template-columns: 2fr 1fr fit-content(11rem) fit-content(6rem);
  }
  .queries-filter-toolbar {
    grid-template-columns: repeat(3, 1fr) 11rem 6rem;
  }
}
@media only screen and (min-width:1200px) {
  .live-filter-toolbar {
    grid-template-columns: 3fr 2fr fit-content(11rem) fit-content(6rem);
  }
  .queries-filter-toolbar {
    grid-template-columns: 3fr 2fr 2fr 11rem 7rem;
  }
}

/* Filter nav buttons
   ========================================================================== */
.filter-nav-group {
  margin: 0.2rem 0;
}
.filter-nav-button {
  display: inline-block;
  height: 1.3rem;
  padding: 0.3rem 0.9rem 0;
  border: 2px solid #777;
  background-color: #fafafa;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
}
.filter-nav-button:active,
.filter-nav-button:focus,
.filter-nav-button:hover {
  border-color: #00c2c8;
  filter: brightness(90%);
}
.filter-nav-button:not(:first-of-type) {
  margin-left: -0.36rem;
}
.filter-nav-button:first-of-type {
  border-radius: 4px 0 0 4px;
}
.filter-nav-button:last-of-type {
  border-radius: 0 4px 4px 0;
}
.filter-nav-button.active {
  background-color: #00c2c8;
}
.filter-nav-button > span {
  display: inline-block;
  width: 4.2rem;
  border-radius: 2px;
  text-align: center;
}
.filter-nav-button > img {
  max-width: 1.6rem;
  max-height: 0.8rem;
  margin-top: 0.2rem;
}

/* ==========================================================================
   Table Toolbar
   ========================================================================== */
.table-toolbar {
  display: block;
  height: 1.9rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.8rem;
  background-color: #e4e4e4;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
}
.table-toolbar:after {
  clear: both;
}

/* ==========================================================================
   Paginate / Sub Navigation
   ========================================================================== */

.pag-nav {
  font-size: 0.85rem;
  float: left;
}
.pag-nav ul {
  padding: 0;
  list-style: none;
}
.pag-nav a,
.pag-nav span {
  display: block;
  padding: 0.4rem 0.62rem;
}
.pag-nav li {
  display: inline-block;
  margin-right: 0.15rem;
  background-color: #fafafa;
  border: 1px solid #777;
  border-radius: 4px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.pag-nav li.active {
  background-color: #00c2c8;
}
.pag-nav li:active,
.pag-nav li:focus,
.pag-nav li:hover {
  border-color: #00c2c8;
  filter: brightness(90%);
}
.pag-nav li:active {
  transform: translateY(2px);
}

/* ==========================================================================
   Group By (similar to pag-nav, but using radio buttons instead)
   ========================================================================== */

#groupby-container {
  float: right;
}
#groupby-container > input {
  display: none;
}
#groupby-container > label {
  display: inline-block;
  margin-right: 0.15rem;
  padding: 0.4rem 0.8rem;
  background-color: #c8c8c8;
  border: 1px solid #777;
  border-radius: 4px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
}
#groupby-container > label:active,
#groupby-container > label:focus,
#groupby-container > label:hover {
  border-color: #00c2c8;
  filter: brightness(90%);
}
#groupby-container > label:active {
  transform: translateY(2px);
}
#groupby-container > input:checked + label {
  background-color: #00c2c8;
}
/*#groupby-container:after {
  clear: both;
}*/

/* Table Toolbar Options
   ========================================================================== */
.table-toolbar-options {
  margin-left: 0.7rem;
  padding-left: 0.8rem;
  border-left: 1px solid #bdbdbd;
  float: right;
}


/* ==========================================================================
   Tables
   ========================================================================== */

table {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}
td,
th {
  padding: 0.4rem 0.6rem;
  border-bottom: 1px solid #bdbdbd;
}
th {
  color: #666;
}
tr {
  background-color: #fbfbfb;
}
/*tr:hover {
  filter: brightness(90%);
}*/
tr.dark {
  background-color: darkgray;
}
tr.cyan {  /*Used on investigate.php*/
  background-color: cyan;
}
td i {
  display: block;
  margin-left: 0.3rem;
  color: DimGrey;
}
td i > a {
  color: #00b7ba;
}
td i > a:focus,
td i > a:hover {
  text-decoration: underline;
}

/* Table Header Sorting
   ========================================================================== */
th.active {
  color: #00c2c8;
}
.asc::after {
  margin-left: 0.2rem;
  content: "\25B2";
}
.desc::after {
  margin-left: 0.2rem;
  content: "\25BC";
}
.sortable {
  cursor: pointer;
}

/* Block Table on domains.php
   ========================================================================== */
#block-table td:nth-child(1), #block-table th:nth-child(1) {
  width: 3.2rem;
  text-align: center;
}
#block-table td:nth-child(2), #block-table th:nth-child(2) {
  width: 8rem;
}
#block-table td:nth-child(3),
#block-table th:nth-child(3),
#block-table td:nth-child(4),
#block-table th:nth-child(4) {
  width: auto;
  overflow: auto;
}
@media only screen and (max-width: 800px) {
  #block-table td:nth-child(4),
  #block-table th:nth-child(4) {
    display: none;
  }
}

/* Custom BL Table on customblocklist.php
   ========================================================================== */

#custombl-table td:nth-child(1), #custombl-table th:nth-child(1) {
  width: 1.2rem;
}
#custombl-table td:nth-child(4), #custombl-table th:nth-child(4) {
  width: 4rem;
  text-align: right;
}
#custombl-table td[colspan="4"] {
  text-align: center;
}

/* Live Table on live.php
   ========================================================================== */
#livetable td:nth-child(1) {
  width: 2.1rem;
  text-align: center;
}
#livetable td:nth-child(2) {
  width: 4.5rem;
  text-align: center;
}
#livetable td:nth-child(3) {
  /*width: 50%;*/
  overflow: auto;
}
#livetable td:nth-child(4) {
  width: 20%;
  overflow: auto;
}
#livetable td:nth-child(5) {
  width: 2rem;
}
#livetable img {
  width: 2.0rem;
}
#livetable tr:hover {
  filter: brightness(90%);
}
/*Hide popup menu on mobile display*/
/*@media only screen and (max-width:576px) {
  #livetable td:nth-child(5) {
    display: none;
  }
}*/


/* Query Tables on queries.php
   ========================================================================== */
#query-group-table td:nth-child(1),
#query-group-table th:nth-child(1),
#query-time-table td:nth-child(1),
#query-time-table th:nth-child(1) {
  width: 2.7rem;
  text-align: center;
}
#query-group-table td:nth-child(2),
#query-group-table th:nth-child(2) {
  width: 3rem;
  text-align: center;
}
#query-group-table td:nth-child(3),
#query-group-table th:nth-child(3) {
  width: auto;
  overflow: auto;
}
#query-group-table td:nth-child(4),
#query-group-table th:nth-child(4) {
  width: 15%;
  text-align: center;
}
#query-group-table td:nth-child(5),
#query-group-table th:nth-child(5),
#query-time-table td:nth-child(5),
#query-time-table th:nth-child(5) {
  width: 1.8rem;
}

#query-time-table td:nth-child(2),
#query-time-table th:nth-child(2) {
  width: 15%;
  text-align: center;
}
#query-time-table td:nth-child(3),
#query-time-table th:nth-child(3) {
  width: 24%;
  text-align: center;
}
#query-time-table td:nth-child(4),
#query-time-table th:nth-child(4) {
  width: 44%;
  overflow: auto;
}
#query-group-table th a, #query-time-table th a {
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
#query-group-table tr:hover,
#query-time-table tr:hover {
  filter: brightness(90%);
}

#query-group-table button,
#query-time-table button {
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}
#query-group-table img,
#query-time-table img {
  width: 2.4rem;
  margin-bottom: -0.1rem;  /*Fix bottom alignment offset in Chrome*/
}

/* DHCP Table on dhcp.php
   ========================================================================== */
.grid-table {
  display: block;
  width: 100%;
}
.dhcp-grid {
  background-color: #fbfbfb;
  border-bottom: 1px solid #bdbdbd;
  display: grid;
  grid-column-gap: 0.2rem;
  grid-row-gap: 0.1rem;
}
@media only screen and (max-width: 575.98px) {
  .dhcp-grid {
    grid-template-columns: 2.9rem 1fr 3.8rem;
  }
  .dhcp-grid > div:nth-child(1) {grid-column: 1; grid-row: 1 / span 4;}
  .dhcp-grid > div:nth-child(2) {grid-column: 2; grid-row: 1;}
  .dhcp-grid > div:nth-child(3) {grid-column: 2; grid-row: 2;}
  .dhcp-grid > div:nth-child(4) {grid-column: 2; grid-row: 3;}
  .dhcp-grid > div:nth-child(5) {grid-column: 2; grid-row: 4;}
  .dhcp-grid > div:nth-child(6) {grid-column: 3; grid-row: 1 / span 2;}
  .dhcp-grid > div:nth-child(7) {grid-column: 3; grid-row: 3 / span 2;}
}
@media only screen and (min-width: 576px) and (max-width: 991.98px) {
  .dhcp-grid {
    grid-template-columns: 2.9rem 1fr 1fr 2rem 3.8rem;
  }
  .dhcp-grid > div:nth-child(1) {grid-column: 1; grid-row: 1 / span 2;}
  .dhcp-grid > div:nth-child(2) {grid-column: 2; grid-row: 1;}
  .dhcp-grid > div:nth-child(3) {grid-column: 2; grid-row: 2;}
  .dhcp-grid > div:nth-child(4) {grid-column: 3; grid-row: 2;}
  .dhcp-grid > div:nth-child(5) {grid-column: 3; grid-row: 1;}
  .dhcp-grid > div:nth-child(6) {grid-column: 4; grid-row: 1 / span 2;}
  .dhcp-grid > div:nth-child(7) {grid-column: 5; grid-row: 1 / span 2;}
}
@media (min-width: 992px) {
  .dhcp-grid {
    grid-template-columns: 3rem repeat(4, 1fr) 2rem 3.8rem;
  }
}
@media only print {
  .dhcp-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .dhcp-grid > div:nth-child(1),
  .dhcp-grid > div:nth-child(6),
  .dhcp-grid > div:nth-child(7) {
    display: none;
  }
}
.dhcp-grid > * {
  display: grid;
  align-content: center;
  padding: 0.3rem 0.4rem;
  text-overflow: ellipsis;
}
.dhcp-grid > div:nth-child(1):not(:last-of-type) > button {
  background-repeat: no-repeat;
  background-size: 1.9rem;
  background-position: 50% 50%;
  height: 2.4rem;
  width: 2.4rem;
}
.dhcp-grid > div:nth-child(5) {
  /*Offset for expiry date not having contenteditable*/
  margin-left: 0.12rem;
}
.dhcp-grid:last-of-type > div {
  grid-column: 1 / -1;
  justify-content: center;
}
.dhcp-grid > div:nth-child(1) > button > ul {
  display: none;
  position: absolute;
  padding: 0.1rem;
  margin: -1.5rem 0 0 1.2rem;
  width: 12.2rem;
  background: #d2d2d2;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  list-style: none;
  z-index: 60;
}
.dhcp-grid > div:nth-child(1) > button > ul > li {
  display: block;
  margin: 0.1rem;
  height: 2.6rem;
  width: 2.6rem;
  background-repeat: no-repeat;
  background-size: 2.1rem;
  background-position: 50% 50%;
  border: 2px solid #777;
  border-radius: 4px;
  float: left;
}
.dhcp-grid > div:nth-child(1):not(:last-of-type) > button > ul > li:hover {
  border-color: #00c2c8;
  filter: brightness(90%)
}
.dhcp-grid > div:nth-child(1):not(:last-of-type) > button:focus {
  filter: brightness(1); /*Undo brightness effect from button:focus*/
}
.dhcp-grid > div:nth-child(1):not(:last-of-type) > button:focus > ul {
  display: block;        /*Show ul when button clicked*/
}


/* Alerts Table on analytics.php
   ========================================================================== */
#analytics-table td:nth-child(1),
#analytics-table th:nth-child(1) {
  width: 2.6rem;
  text-align: center;
}
#analytics-table td:nth-child(2),
#analytics-table th:nth-child(2) {
  width: 1rem;
  text-align: center;
}
#analytics-table td:nth-child(3),
#analytics-table th:nth-child(3) {
  width: 60%;
  overflow: auto;
}
#analytics-table td:nth-child(4),
#analytics-table th:nth-child(4) {
  text-align: center;
  overflow: auto;
}
#analytics-table td:nth-child(5),
#analytics-table th:nth-child(5) {
  text-align: center;
  overflow: hidden;
}
#analytics-table td:nth-child(6),
#analytics-table th:nth-child(6) {
  width: 2rem;
}
#analytics-table tr:hover {
  filter: brightness(90%);
}
#analytics-table img {
  width: 2.4rem;
}

@media only screen and (max-width:992px) {
  #analytics-table td:nth-child(3),
  #analytics-table th:nth-child(3) {
    width: 50%;
  }
}
@media only screen and (max-width:576px) {
  #analytics-table td:nth-child(3),
  #analytics-table th:nth-child(3) {
    width: 40%;
  }
}

/* Top Level Domain Tables on tld.php
   ========================================================================== */
.tld-table td:nth-child(1) {
  width: 3.4rem;
  text-align: center;
}
.tld-table td:nth-child(2) {
  width: 2rem;
  text-align: center;
}
.tld-table td:nth-child(3) {
  width: 6rem;
  font-weight: bold;
}
.tld-table td:nth-child(4) {
  width: 10rem;
  text-align: left;
}
.tld-table td:nth-child(5) {
  text-align: left;
}
.tld-table td > a {
  color: #00b7ba;
}
.tld-table td > a:focus,
.tld-table td > a:hover {
  text-decoration: underline;
}


/* Config Table
   ========================================================================== */
.conf-table td:nth-child(1) {
  width: 25%;
  text-align: right;
  font-weight: bold;
}
.conf-table td[colspan="2"] {
  text-align: center;
}
.conf-table img {
  margin: 0 0.1rem;
  width: 1.1rem;
}
@media only screen and (min-width:1024px) {
  .conf-table td:nth-child(1) {
    width: 20%;
  }
}
/* Blocklist Tables on blocklist.php
   ========================================================================== */
.bl-table td:nth-child(1) {
  width: 3.4rem;
  text-align: center;
}
.bl-table td:nth-child(2) {
  width: 1.8rem;
  text-align: center;
}
.bl-table td:nth-child(3) {
  width: 10rem;
  font-weight: bold;
}
.bl-table img {
  margin: 0.1rem 0.1rem -0.1rem;
  width: 1rem;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
  display: flex;
  position: fixed;
  height: 2.6rem;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(1, 95, 100, 0.95);
  color: #f7f7f7;
  column-gap: 0.5rem;
  flex-wrap: nowrap;
  padding: 0.1rem 0.2rem 0.3rem;
  z-index: 100;
}
header > a > span {
  color: #f7f7f7;
  letter-spacing: 1px;
  line-height: 2.8rem;
}
header > a > span:nth-child(1) {
  font-size: 1.8rem;
  margin-left: 0.5rem;
}
@media only screen and (max-width:576px) {
  /*Hide NoTrack Title on Mobiles*/
  header > a > span:nth-child(1) {
    display: none;
  }
}
header > a > span:nth-child(2) {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
header > div {
  background-color: rgba(1, 81, 85, 0.98);
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: 50% 50%;
  border-radius: 4px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4), inset 0 0 4px #00454a;
  cursor: pointer;
  width: 2.8rem;
}
header > div:nth-child(1) {                      /*Hamburger menu*/
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
}
@media only screen and (min-width:576px) {
  /*Hide Hamburger menu on desktop screens*/
  header > div:nth-child(1) {
    display: none;
  }
}
header > div:nth-child(4):focus #pause-menu,     /*Pause menu dropdown*/
header > div:nth-child(4):focus-within #pause-menu {
  display: block;
}
header > div:nth-child(6) {                      /*Logout Button*/
  /*Push Logout button across to right-hand side*/
  margin: 0 0.5rem 0 auto;
}
#pause-menu {
  display: none;
  position: absolute;
  background-color: rgba(1, 73, 77, 0.98);
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4), inset 0 0 4px #00454a;
  list-style: none;
  margin-top: 2.9rem;
  padding: 0;
  z-index: 102;
}
#pause-menu > li {
  display: block;
  border-radius: 4px;
  font-size: 0.9rem;
  padding: 0.6rem 0.5rem;
  width: 11.2rem;
}
header > div:focus,
header > div:hover,
#pause-menu > li:focus,
#pause-menu > li:hover {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4), inset 0 0 4px #00c2c8;
  filter: brightness(90%);
}
header > div:active,
#pause-menu > li:active {
  background-color: #03a9b1;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4), inset 0 0 4px #00c2c8;
}

/* ==========================================================================
   Side Menu
   ========================================================================== */

main {
  margin: 3.6rem 0 0 14rem;
  transition: margin-left 0.5s;
}
nav {
  position: fixed;
  width: 14rem;
  top: 3rem;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-top: 0.2rem;
  background: linear-gradient(to right, rgba(0, 25, 27, 0.9) 3rem, rgba(0, 32, 34, 0.9) 3rem);
  color: #f7f7f7;
  overflow: hidden;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: linear;
  z-index: 200;
}
nav:hover {
  width: 14rem;
}
nav a,
nav div {
  display: block;
  height: 2.2rem;
  width: 10.5rem;
  background-repeat: no-repeat;
  background-size: 2.2rem;
  background-position: 0.4rem 50%;
  line-height: 2.5rem;
  padding: 0.1rem 0.1rem 0.3rem 3.3rem;
  white-space: nowrap;
}
nav a {
  border-radius: 4px;
  color: #f7f7f7 !important;
  margin: 0.2rem 0;
}
nav > a:focus,
nav > a:hover {
  background-color: rgba(0, 45, 49, 0.95);
  box-shadow: inset 0 0 4px #00c2c8;
  filter: brightness(90%);
}
nav > a > span {                                 /*Alert Count*/
  position: absolute;
  left: 0.4rem;
  height: 1.2rem;
  background-color: #ff065d;
  border-radius: 45%;
  line-height: 1.2rem;
  min-width: 1rem;
  padding: 0 0.3rem;
  text-align: center;
}
nav div {
  margin-top: 1.2rem;
}
nav figure {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
nav figure:first-of-type {
  margin: 0.4rem 1rem 0.8rem;
}
nav figure:not(:first-of-type) {
  margin: 0.8rem 1rem;
}
nav figcaption {
  margin: 0rem 2.4rem;
  line-height: 1rem;
  font-size: 0.8rem;
  width: 10rem;
}
.status_green {
  background-color: Green;
  background: radial-gradient(circle at 0.3rem 0.3rem, #00e000, #001800);
}
.status_red {
  background-color: #b00020;
  background: radial-gradient(circle at 0.3rem 0.3rem, #ff003d, #210008);
}
.status_yellow {
  background-color: #ffc20b;
  background: radial-gradient(circle at 0.3rem 0.3rem, #ffc20b, #362e00);
}

@media only screen and (max-width:992px) {
  /*Half window view - Display side menu in icon-only form, allowing onmouseover (hover) to expand menu out to show text*/
  main {
    margin: 3.8rem 0 0 3rem;
  }
  nav {
    width: 3rem;
  }
}
@media only screen and (max-width:576px) {
  /*Mobile view - Side menu is hidden so we rely on the hamburger button to show the menu*/
  main {
    margin: 3.8rem 0 0 0rem;
  }
  nav {
    width: 0rem;
  }
}


/* Print adjustments for menu
   ========================================================================== */
@media only print {
  header,
  nav {
    display: none;
  }
  main {
    margin: 0;
  }
}


/* ==========================================================================
   Config Navigation
   ========================================================================== */

.conf-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.conf-nav > a {
  flex-basis: 28%;
  flex-grow: 0;
  height: 3rem;
  margin: 0.5rem 1%;
  padding: 0.3rem 0.8rem;
  border: 2px solid #bdbdbd;
  border-radius: 4px;
}
.conf-nav > a:focus,
.conf-nav > a:hover {
  border-color: #00c2c8;
  opacity: 0.80;
}
.conf-nav > a > img {
  height: 100%;
  margin-right: 0.8rem;
  float: left;
}
.conf-nav > a > span {
  color: #444;
  font-size: 1.2rem;
  font-weight: 500;
  float: left;
  margin-top: 0.8rem;
}
@media only screen and (max-width:1200px) {  /*Windowed view for Conf Nav*/
  .conf-nav > a {
    flex-basis: 41%;
  }
}
@media only screen and (max-width:576px) {   /*Mobile view for Conf Nav*/
  .conf-nav > a {
    flex-basis: 91%;
  }
}


/* ==========================================================================
   Block List Flex Container and Items
   ========================================================================== */

.bl-flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.bl-flex-container > a {
  margin: 0.8rem 1%;
  flex-basis: 22%;
  border: 2px solid #bdbdbd;
  border-radius: 4px;
  text-align: center;
}
.bl-flex-container > a > img {
  width: 85%;
}
.bl-flex-container > a:focus,
.bl-flex-container > a:hover {
  border-color: #00c2c8;
  opacity: 0.80;
}
@media only screen and (max-width:992px) {
  .bl-flex-container {
     justify-content: flex-start;
  }
  .bl-flex-container > a {
    flex-basis: 30%;
  }
}
@media only screen and (max-width:576px) {
  .bl-flex-container > a {
    margin: 0.6rem 2%;
    flex-basis: 44%;
  }
}


/* ==========================================================================
   Clipboard Copied Message
   ========================================================================== */
#copymsg {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 60;
  background-color: #555;
  color: #f7f7f7;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  display: none;
}

/* ==========================================================================
   Queries / Analytics popups from dropdown menus
   ========================================================================== */
#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.80;
  z-index: 500;
  display: none;
}
#queries-dialog,
#report-dialog {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  height: auto;
  padding-bottom: 0.5rem;
  background-color: #f7f7f7;
  border: 3px solid #00b7ba;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  transform: translate(-50%, 0);
  white-space: nowrap;
}
#queries-dialog {
  width: 27rem;
  z-index: 501;
}
#queries-dialog button {
  width: 10rem;
  margin: 0 0.5rem;
  padding: 0.4rem 0;
}
#report-dialog {
  width: 25rem;
  z-index: 502;
}
#report-dialog input[type="text"] {
  width: 16rem;
}
#queries-dialog h2,
#report-dialog h2 {
  line-height: 1.9rem;
  margin: 0 0 1rem;
  color: #f7f7f7;
  background-color: #333;
  text-align: center;
}

/* ==========================================================================
   Dropdown menu
   ========================================================================== */

.dropdown-container {
  position: relative;
  display: block;
}
.dropbtn {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  background-size: 1.5rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" fill="rgb(120,120,120)" fill-opacity="1"/></svg>');
  border-radius: 50%;
  padding: 0.2rem;
}

.dropdown {
  margin-left: -10rem;
  margin-top: -1.5rem;
  position: absolute;
  display: none;
  min-width: 10rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #bdbdbd;
  background-color: #f1f1f1;
  border-radius: 4px;
  z-index: 50;
}
.dropdown a,
.dropdown span {
  padding: 0.5rem;
  display: block;
  border-radius: 4px;
  cursor: pointer;
}
.dropdown a:hover,
.dropdown span:hover {
  background-color: #00d6d9;                     /*Lighter colour to offset row highlight*/
}
.dropdown-container:hover .dropdown {
  display: block;                                /*Show the dropdown menu on hover*/
  z-index: 50;
}
.dropdown-container:hover .dropbtn {
  background-color: #f1f1f1;
  box-shadow: inset 0 0 3px #aaa;
}


/* ==========================================================================
   Search Box
   ========================================================================== */

#search-box {
  width: 100%;
  margin: 20vh 0;
  display: inline-block;
}
#search-box > div {
  width: 60rem;
  max-width: 85%;
  margin: 0 auto;
  padding: 2rem 0.5rem;
  display: block;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  background-color: #f7f7f7;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#search-box input[type="text"] {
  width: 90%;
  margin: 0.5rem auto;
  display: block;
}
#search-box button {
  margin: 0.5rem auto;
  display: block;
}

/* ==========================================================================
   Bulk Upload Box
   ========================================================================== */

#bulkBox {
  height: calc(95vh - 10rem);
  line-height: 1.4rem;
}
/*#bulkBox span {
  padding: 0 0.2rem;
  border: 2px solid green;
  border-radius: 8px;
  display: inline;
}*/

/* ==========================================================================
   Help Icon
   ========================================================================== */

.help-icon {
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  border: 2px solid #00c2c8;
  border-radius: 50%;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  color: #00b7ba;
  display: inline-block;
}
.help-icon:before {
  content: "?";
}


/* ==========================================================================
   Extra Colours
   ========================================================================== */

span.primarydark, a.primarydark { /*DEPRECATED once queries.php utilises JS sortable */
  color: #00b7ba;
}
span.blue {
  color: dodgerblue;
}
span.green, h3.green {
  color: Green;
}
span.red {
  color: #ee202b;
}
.grey {
  color: grey;
}
h3.darkgray {
  color: #202020;
}


/* ==========================================================================
   Other Items
   ========================================================================== */

.float-left {
  float: left;
}

span.investigatelink {
  margin-right: 0.5rem;
  display: inline-block;
  float: right;
}
span.investigatelink > a {
  color: #008cd1;
  text-decoration: underline;
}

/* ==========================================================================
   Time Picker on queries.php
   ========================================================================== */
#timepicker-group {
  display: none;
  margin: 0.4rem 0 0 calc(4vw - 8rem);
  position: absolute;
  background: #f8f8f8;
  border: 1px solid #777;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5), inset 0 0 4px #666;
  z-index: 1;
}
#timepicker-dropdown:focus #timepicker-group,
#timepicker-dropdown:focus-within #timepicker-group {
  display: block;
}
#timepicker-group article {
  display: block;
  width: 32rem;
  max-width: 32rem;
}
@media only screen and (max-width:992px) {
  #timepicker-group {
    margin: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  #timepicker-group article {
    width: calc(100vw - 1.3rem);
  }
}

#timepicker-group h3 {
  padding: 0.2rem 0.5rem;
  background: #d2d2d2;
}
#timepicker-group h3:first-child {
  border-radius: 4px 4px 0 0;
}
#timepicker-group ul {
  padding: 0;
  list-style: none;
}
#timepicker-group li {
  cursor: pointer;
  line-height: 1.1rem;
}
#timepicker-group li:focus,
#timepicker-group li:hover {
  text-decoration: underline;
}
.timepicker-grid {
  display: grid;
  grid-column-gap: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.8rem;
}

.timepicker-grid-half {
  grid-template-columns: 50% 50%;
}
.timepicker-grid-dtl {
  grid-template-columns: 3rem 80%;
}
.timepicker-grid.timepicker-grid-dtl > label {
  text-align: right;
}
.timepicker-grid.timepicker-grid-dtl > div {
  grid-column: 1 / span 2;
  text-align: center;
}

#timepicker-group button {
  margin: 0.5rem;
}
#timepicker-group input[type="datetime-local"] {
  width: 100%;
  max-width: 14rem;
}
#timepicker-group label {
  line-height: 2rem;
}
